html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header .nav-link:hover {
    color: red;
}
.header .nav-link {
    text-transform: uppercase;
    font-weight: bold;
}

.header.nav-item {
    margin: 20px 0;
}
.banner-item {
    border-radius: 2em;
    padding: 2em;
    background: rgba(170, 170, 170, 0.2);
}
.bg-spectial-text {
    background-color: rgba(255, 255, 0, 0.268);
    transform: rotate(-2deg);
}
.banner-item__content > p {
    padding-left: 10px;
    width: 150px;
    margin: 0;
}
.special-icon {
    margin-right: 20px;
}
.top-logo {
    background: rgba(255, 255, 0, 0.268);
    rotate: -1deg;
}
.arrival-item {
    padding: 10px;
}
.arrival-item__img {
    transition: all 500ms ease-in-out;
}
.arrival-item__img:hover {
    opacity: 0.7;
}

.favourite-item {
    padding: 10px;
}
.favourite-item__img img {
    border-radius: 10px;
}
.footer-menu-item a {
    text-decoration: none;
    color: white;
}
